.profile-photo {
  -webkit-mask-image: radial-gradient(
    ellipse closest-side at 50% 46%,
    black 55%,
    transparent 119%
  );
  mask-image: radial-gradient(
    ellipse closest-side at 50% 46%,
    black 83%,
    transparent 119%
  );
  animation: profile-float 6s ease-in-out infinite;
}

@keyframes profile-float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
