<main class="px-20 pt-32 flex justify-center text-white">
  <div class="relative w-full h-full">
    <img
      src="/assets/images/bg_profile.svg"
      class="w-[568px] absolute top-0 left-0"
      alt="profile-pic-shadow"
    />
    <img
      src="/assets/images/profile-img.webp"
      class="w-[568px] absolute top-0 left-0 border-4 border-primary rounded-3xl"
      alt="profile-pic"
    />
  </div>
  <div class="flex flex-col gap-5 pt-28">
    <span class="text-primary text-2xl w-[568px]">Who I am</span>
    <div class="flex flex-col gap-4 bg-[#3DCFB61A] border border-[#3DCFB6] rounded-4xl p-8 w-[568px] text-lg">
      <h2 class="text-primary font-fira font-bold text-6xl">About me</h2>
      <p>Hi, my name is Martin Unger, a Fullstack Developer based in Vienna. I have solid experience building scalable applications with Angular, Django, and .NET.</p>
      <div class="flex gap-4">
        <img src="/assets/images/location.svg" alt="location-icon" />
        <p>Currently, I work at Atos Austria as a Fullstack Developer, where I focus on developing enterprise solutions using Angular and .NET.</p>
      </div>
      <div class="flex gap-4">
        <img src="/assets/images/cognition.svg" alt="location-icon" />
        <p>Beyond that, I also contribute to projects involving cloud-based solutions with Microsoft Azure, which gives me the opportunity to explore modern architectures and cloud-native development practices.</p>
      </div>
      <div class="flex gap-4">
        <img src="/assets/images/check-icon.svg" alt="location-icon" />
        <p>I`m passionate about creating clean, efficient code and delivering applications that are both user-friendly and technically strong.</p>
      </div>
    </div>
  </div>
</main>
