section {
    padding:37px 50px 37px 100px;
    a {
        text-decoration: none;
        margin-left: 29px;
        color: #ffffff;
        font-size: 23px;
        &:hover {
            color: #00BEE8;
        }
    } 
    img {
        height: 60px;
    }  
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #141d2f;
    z-index: 3;
}
