section {
    img {
        cursor: pointer;
        height: 60px;
        filter: drop-shadow(4px 3px 7px #00BEE8);
    }  
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #141d2ff0;
    z-index: 3;
}

a {
    text-decoration: none;
    margin-left: 29px;
    color: #ffffff;
    font-size: 23px;
    &:hover {
        color: #00BEE8;
    }
} 



.burger {
    display: none;
    cursor: pointer;
    img {
        width: 35px;
        height: 35px;
        transition: transform 0.6s;
    }
    &:hover {
        transform: scale(1.2);
    }
    
}

.menu {
    background-color: #414856;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    top: 133px;
    gap: 29px;
}

.menu-visible {
    visibility: visible;
    transform: translateX(0);
    transition: all 225ms ease-in;
}


.menu-hidden {
    visibility: hidden;
    transform: translateX(800px);
    transition: all 225ms ease-out;
}


@media (max-width: 800px) {
    .links {
        display: none;
    }
    .burger {
        display: flex !important;
    }
}
