section {
    padding:37px 100px 37px 100px;
    a {
        text-decoration: none;
        margin-left: 29px;
        color: #ffffff;
        font-size: 23px;
        &:hover {
            color: #00BEE8;
        }
    } 
    img {
        height: 100px;
    }  
}
