section {
    border-top: 4px solid #00BEE8;
    width: 100vw;
    bottom: 0;
}

.content {
    max-width: 1920px;
    width: 100%;
}

.logo {
    height: 90px;
    width: 90px;
    filter: drop-shadow(4px 3px 7px #00BEE8);
    cursor: pointer;
}

span, a {
    font-size: 23px;
    text-align: center;
}

.scl-media {
    margin-left: 20px;
    &:hover {
        scale: 1.2;
    }
    
}

.imprint_phone {
    display: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    width: fit-content;
    &:hover {
        color: #00BEE8;
    }
    img {
        filter: drop-shadow(4px 3px 7px #4b47ff);
    }  
}

@media (max-width: 800px) {
    .logo {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 740px) {
    .content {
        flex-direction: column;
        gap: 20px;
    }
    .imprint_phone {
        display: block;
    } 
    .imprint {
        display: none;
    }
}

 @media (max-width: 330px) {
    span {
        font-size: 22px;
    }
 }