
@media (min-width: 1900px) {
    .curve {
        margin-top: -260px;
    }
}

@media (min-width: 2060px) {
    .curve {
        margin-top: -280px;
    }
}

@media (min-width: 2220px) {
    .curve {
        margin-top: -320px;
    }
}

@media (min-width: 2550px) {
    .curve {
        margin-top: -340px;
        height: 900px;
    }
}


@media (min-width: 2720px) {
  .curve {
      margin-top: -360px;
      height: 1100px;
  }
}

@media (min-width: 2900px) {
    .curve {
        margin-top: -400px;
        height: 1100px;
    }
}

@media (min-width: 3230px) {
    .curve {
        margin-top: -440px;
    }
}

@media (min-width: 3590px) {
    .curve {
        margin-top: -480px;
    }
}


@media (max-width: 1600px) {
    .curve {
        margin-top: -215px;
    }
}

@media (max-width: 1350px) {
    .content {
        display: block;
    }
    #right-aM {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #left-aM {
        max-width: 100%;
        height: fit-content;
        margin: 0 0 50px 0;
    }
    #right-aM {
        height: 487px;
    }
    .profile-img {
        top: 0;
    }
    .curve {
        margin-top: -213px;
        height: 450px;
    }

}
@media (max-width: 1200px) {
    .curve {
        margin-top: -184px;
    }
}


@media (max-width: 700px) {
    .profile-img, #right-aM {
        width: 400px;
    }
    #right-aM {
        height: 324px;
    }
    .curve {
        margin-top: -130px;
        height: 240px;
    }
    .m-left {
        margin-left: 0px;
    }
    .undersection {
      margin-top: 22px;
        img {
            display: none;
        }
    }
    #left-aM {
      margin: 0 0 20px 0;
    }
}

@media (max-width: 550px) {
    .curve {
        margin-top: -103px;
    }
}
@media (max-width: 420px) {
    .profile-img, #right-aM {
        width: 250px;
    }
    #right-aM {
        height: 202px;
    }
    .curve {
        margin-top: -83px;
        height: 210px;
    }
}
