
@media (min-width: 1920px) {
    .curve {
        margin-top: -260px;
    }
}

@media (min-width: 2200px) {
    .curve {
        margin-top: -280px;
    }
}

@media (min-width: 2650px) {
    .curve {
        margin-top: -300px;
    }
}

@media (min-width: 3130px) {
    .curve {
        margin-top: -320px;
    }
}


@media (max-width: 1600px) {
    .curve {
        margin-top: -215px;
    }
}

@media (max-width: 1350px) {
    section {
        display: block;
    }
    #right-aM {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #left-aM {
        max-width: 100%;
        height: fit-content;
    }
    #right-aM {
        height: 487px;
    }
    .profile-img {
        top: 0;
    }
    .curve {
        margin-top: -213px;
    }
    
}
@media (max-width: 1200px) {
    .curve {
        margin-top: -184px;
    }
}


@media (max-width: 700px) {
    .profile-img, #right-aM {
        width: 400px;
    }
    #right-aM {
        height: 324px;
    }
    .curve {
        margin-top: -130px;
        height: 20%;
    }
    .m-left {
        margin-left: 0px;
    }
    .undersection {
        img {
            display: none;
        }
    } 
}

@media (max-width: 550px) {
    .curve {
        margin-top: -103px;
    }
}
@media (max-width: 420px) {
    .profile-img, #right-aM {
        width: 250px;
    }
    #right-aM {
        height: 202px;
    }
    .curve {
        margin-top: -83px;
    } 
}