section {
    padding: 100px 100px 37px 100px;
    position: relative;
    z-index: 1;
}

.profile-img {
    width: 600px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.undersection {
    gap: 50px;
}

.m-left {
    margin-left: 16px;
}