<section class="d-flex justify-content-center align-items-center">
    <div class="rotate">
        <span>I am</span>
    </div>
    <div class="d-flex flex-column align-items-center">
        <span class="name">Martin Unger</span>
        <span class="job">FRONTEND DEVELOPER</span>
        <button class="talk-btn">
            <a href=""><span>Let's talk!</span></a>
        </button>
    </div>
    <img class="blue_neon" src="assets/neon_img/blue_atf.svg" alt="">
    <img class="green_neon" src="assets/neon_img/green_atf.svg" alt="">
</section>
