section {
    margin-top: 250px;
    padding: 0;
}

.rotate {
    transform: rotate(270deg);
    font-size: 90px;
    margin-top: 75px;
}

.name {
    font-size: 128px;
    font-weight: 700;
}

.job {
    font-size: 64px;
    color: #4B47FF;
}

.blue_neon {
    width: 572.03px;
    height: 608px;
    top: -110px;
    left: 0px;
}
 
.green_neon {
    width: 679.58px;
    height: 573.58px;
    top: -140px;
    right: 0px;
}

.blue_neon, .green_neon {
    z-index: -1;
}

.talk-btn { 
    width: 165px;
    height: 58px;   
    background-color: #00BEE8;
    border-radius: 10px;
    border: 0;
    margin-top: 40px;
    transition: transform 0.3s;
    &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);
    }
    span {
        font-size: 23px;
        font-weight: 400;
        color: #ffffff;
    }
    a {
        text-decoration: none;
    }    
}

.line {
    height: 2px;
    background-color: #00BEE8;
    width: 100px;    
}

.social-media-btn, .line {
    margin-right: 42px;
}
.social-media-btn {
    filter: drop-shadow(4px 3px 7px #4b47ff);
    &:hover {
        scale: 1.2;
    }
}

.social-media {
    margin-top: 250px;
}
