@media (max-width: 1180px) {
    .job {
        font-size: 45px;
    } 
    .name {
        font-size: 90px;
    }
    .rotate {
        font-size: 63px;
        margin-top: 54px;
    }   
    .green_neon {
        width: 350px;
        height: 500px;
    } 
    .blue_neon {
        width: 350px;
        height: 450px;
    }
}

@media (max-width: 820px) {
    .job {
        font-size: 32px;
    } 
    .name {
        font-size: 63px;
    }
    .rotate {
        font-size: 44px;
        margin-top: 39px;
    } 
    .talk-btn {
       margin-top: 20px;
    }
    .blue_neon, .green_neon {
        width: 230px;
    } 
    
}

@media (max-width: 570px) {
    .job {
        font-size: 19px;
    } 
    .name {
        font-size: 34px;
    }
    .rotate {
        font-size: 21px;
        margin-top: 20px;
    } 
    .talk-btn {
        width: 115px;
        height: 40px;
        span {
            font-size: 16px;
        }
    }
    .green_neon {
        height: 350px;
    }
    .blue_neon {
        height: 300px;
    } 
}

@media (max-width: 480px) {
    .line {
        width: 50px;
    }
    .blue_neon, .green_neon {
        width: 100px;
    } 
    .green_neon {
        height: 300px;
    } 
}

@media (max-width: 340px) {
    .line {
        width: 20px;
    }
}