@media (max-width: 1040px) {
    .job {
        font-size: 45px;
    } 
    .name {
        font-size: 90px;
        line-height: 107px;
    }
    .rotate {
        font-size: 63px;
    }   
    .green_neon {
        width: 350px;
        height: 500px;
    } 
    .blue_neon {
        width: 350px;
        height: 450px;
    }
}

@media (max-width: 740px) {
    .job {
        font-size: 32px;
    } 
    .name {
        font-size: 63px;
        line-height: 75px;
    }
    .rotate {
        font-size: 44px;
    } 
    .talk-btn {
       margin-top: 20px;
    }
    .blue_neon, .green_neon {
        width: 230px;
    } 
    
}

@media (max-width: 570px) {
    .job {
        font-size: 20px;
    } 
    .name {
        font-size: 36px;
        line-height: 37px;
    }
    .rotate {
        font-size: 26px;
        margin-top: 40px;
    } 
    .talk-btn {
        width: 115px;
        height: 40px;
        span {
            font-size: 16px;
        }
    }
    .green_neon {
        height: 350px;
    }
    .blue_neon {
        height: 300px;
    } 
    .social-media {
        margin-top: 150px;
    }
}

@media (max-width: 480px) {
    .blue_neon, .green_neon {
        width: 130px;
    } 
    .green_neon {
        height: 300px;
    } 
}