<section class="d-flex flex-column justify-content-center align-items-center position-relative" id="portfolio">
    <div class="projects-header" >
        <div class="d-flex align-items-center justify-content-center gap-3">
            <div class="line"></div>
            <h1>Portfolio</h1>  
            <div class="line"></div>    
        </div>
        <p translate>This page is a sample of my work! Scroll down to view other projects I have developed.</p>
    </div>
    <div>
        <div *ngFor="let project of projects" class="d-flex justify-content-between align-items-center project">
            <div [@slideInFromRight]="isVisible ? 'in' : 'void'">
                <img src="{{ project.img }}" alt="">
            </div>
            <div class="project-txt" [@slideInFromLeft]="isVisible ? 'in' : 'void'">
                <span class="title">{{ project.title }}</span>
                <p class="techno">{{ project.technologies }}</p>
                <p class="description" translate>{{ project.description }}</p>
                <div class="d-flex btn-row" *ngIf="project.live">
                    <button class="btn-live">
                        <a href="{{ project.link_live }}" target="_blank" rel="noopener noreferrer">
                            <span>Live test</span>
                        </a>
                    </button>
                    <button class="btn-git">
                        <a href="{{ project.link_github }}" target="_blank" rel="noopener noreferrer">
                            <span>Github</span>
                        </a>
                    </button>
                </div>
                <div *ngIf="!project.live" class="future d-flex justify-content-center">
                    <p translate>Coming Soon</p>
                </div>
            </div>
        </div>
    </div>
    <img class="blueneon-left position-absolute" src="assets/neon_img/blue_projects_left.svg" alt="">
    <img class="blueneon-right position-absolute" src="assets/neon_img/blue_projects_right.svg" alt="">
    <img class="purpleneon-left position-absolute" src="assets/neon_img/purple_projects_left.svg" alt="">
</section>