section {
    padding-top: 150px;  
}

.line {
    background-color: #4B47FF;
    height: 4px;
    width: 109px;
    border-radius: 4px;
}



.project {
    gap: 200px;
    flex-wrap: nowrap; 
    margin-top: 100px;        
    &:nth-child(odd) {
        div:first-child {
            order: 1;
        }
        div:nth-child(2) {
            order: 2;
        }
    }

    img {
        width: 450px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #00bee8;
    }

    &:nth-child(even) {
        div:first-child {
            order: 2; 
            @media (max-width: 1240px) {
                order: 1;
            }
        }
        div:nth-child(2) {
            order: 1; 
            @media (max-width: 1240px) {
                order: 2;
            }
        }
    }
    @media (max-width: 1240px) {
        flex-direction: column;
    }
}

.project-txt {
    max-width: 450px;
}

.title {
    color: #4B47FF;
    font-weight: 700;
    font-size: 32px;
}
 
.techno{
    color: #00BEE8;
    font-weight: 400;
    font-size: 23px;
}

.description {
    text-align: left;
}

.future {
    color: #00BEE8;
    p {
        font-weight: bold;
        font-size: 35px;
    }    
}

button {
    span {
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;        
    }
    a {
        text-decoration: none;
    }
    margin-right: 86px;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    &:hover {
        background-color: #00BEE8;
        border: 0;
    }
}

.btn-live {
    background-color: #4B47FF;
    border: 0;
}

.btn-git {
    background-color: #141D2F;
    border: 1px solid #00BEE8;
}

.projects-header {
    p{
        text-align: center;
        margin: 0px;
    }
}

.blueneon-left {
    top: 0px;    
}

.blueneon-left, .purpleneon-left {
    left: 0px;
} 

.purpleneon-left {
    top: 45%;
    width: 510px;
}

.blueneon-right {
    top: 75%;
    right: 0px;
}

.blueneon-left, .purpleneon-left, .blueneon-right {
    z-index: -1;
}

