@media (max-width: 1340px) {
    .middle-sec {
        flex-direction: column;
        gap: 86px;
    }
    section {
        align-items: center;
    }
    .neonpurpe-left {
        width: 370px;
    }

}

@media (max-width: 820px) {
    .input-sec, #left-section {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .line {
        width: 28px;
    }
}

@media (max-width: 740px) {
    .line {
        top: 185px;
    }
    #left-section {         
        p {
            margin-top: 20px;
        }
    }
    .neonpurpe-left {
        bottom: 338px;
        width: 300px;
    }
}

@media (max-width: 570px) {
    .line {
        top: 167px;
    }
    .middle-sec {
        gap: 50px;
    }
}