section {
    padding-top: 250px;
    position: relative;
}

.line {
    position: absolute;
    left: 0px;
    top: 303px;
    background-color: #4B47FF;
    height: 4px;
    width: 50px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

#left-section { 
    width: 473px;
    
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        margin-top: 100px;
    }
}

.input-sec {
    width: 617px;
    p, .err-mess {
        font-size: 14px;
        font-weight: 400;
    }
}

.err-mess {
    margin: 10px 0px 15px 0px;
    color: #e61c40;
}

.hidden {
    visibility: hidden;
}

.input-fields {
    border: 1px solid #4B47FF;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    box-shadow: 0 0 3px 1px #4B47FF,inset 0 0 3px 1px #4B47FF;
    &:hover, &:focus {
        border: 1px solid #00BEE8;
        box-shadow: 0 0 3px 1px #00BEE8,inset 0 0 3px 1px #00BEE8;
    }
}

.input-fields.truevalue {
    border: 1px solid #70e61c;
    box-shadow: 0 0 3px 1px #70e61c,inset 0 0 3px 1px #70e61c;
}

.input-fields.falsevalue {
    border: 1px solid #e61c40;
    box-shadow: 0 0 3px 1px #e61c40,inset 0 0 3px 1px #e61c40;
}



input, textarea {
    width: 100%;
    background-color: #141d2f;
    outline: none;
    border: 0;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
}

textarea {
    resize: none;
}

.checkbox {
    background-image: url(/assets/icons/Checkbox_Default.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
        background-image: url(/assets/icons/Checkbox_Default_hover.svg);
    }
    
}

.checkbox.checked {
    background-image: url(/assets/icons/Checkbox_Checked.svg);

    &:hover {
        background-image: url(/assets/icons/Checkbox_Checked_hover.svg);
    }
}

button {
    width: 253px;
    height: 58px;
    border-radius: 10px;
    gap: 10px;
    margin-top: 40px;
    background-color: #00bee8;
    border: none;
    transition: transform 0.3s;
    span {
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0em;
        color: #ffffff;
        padding: 15px 30px 15px 30px;
    }
    &:disabled {
        background-color: #B6B6B6;
        cursor: not-allowed;
    }
    &:not(:disabled):hover {
        transform: scale(1.2);
    }

}

.up-btn {
    margin-top: 50px;
    width: 39px;
    height: 39px;
    cursor: pointer;
    background-image: url(/assets/icons/up_btn_white.svg);
    &:hover {
        background-image: url(/assets/icons/up_btn_blue.svg);
    }
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendMailBtn {
    width: 300px;
    height: 200px;
}

@media (max-width: 1340px) {
    .middle-sec {
        flex-direction: column;
        gap: 86px;
    }
    section {
        align-items: center;
    }

}

@media (max-width: 820px) {
    .input-sec, #left-section {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .line {
        width: 28px;
    }
}

@media (max-width: 740px) {
    .line {
        top: 287px;
    }
    #left-section {         
        p {
            margin-top: 20px;
        }
    }
}

@media (max-width: 570px) {
    .line {
        top: 118px;
    }
    .middle-sec {
        gap: 50px;
    }
    section {
        padding-top: 100px;
    }
}