section {
    padding: 0px 100px 37px 100px;
    position: relative;
}

.line {
    position: absolute;
    left: 0px;
    top: 53px;
    background-color: #4B47FF;
    height: 4px;
    width: 50px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}