@media (min-width: 2800px) {
    .line {
        width: 300px;
    }
}

@media (max-width: 1200px) {
    section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .image-grid {
        margin-top: 100px;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
        }
    }
    .btnResponsive {
        margin-top: 100px;
        visibility: visible;
    }

    .btn {
        display: none;
    }
}

@media (max-width: 700px) {
    .image-grid { 
        img {
            width: 77px;
        }
        gap: 40px;
        width: 100%;
        grid-template-columns: none;
    }
    .skills {
        width: 100%;
    }
    section {
        padding-top: 0px;
    }
}

@media (max-width: 530px) {
    .image-grid { 
        img {
            width: 60px;
        }
        gap: 40px;
    }
    .btnResponsive, .image-grid {
        margin-top: 45px;
    }
}

@media (max-width: 430px) {
    .image-grid { 
        img {
            width: 45px;
        }
        gap: 30px;
    }
}

@media (max-width: 360px) {
    .image-grid { 
        gap: 15px;
    }
}