<section class="d-flex justify-content-between" id="skills" >
    <div class="d-flex flex-column align-items-center">
        <div class="image-grid" >
            <img *ngFor="let skill of skills" src="assets/icons/{{ skill }}" alt="" [@fadeInFromBottom]="isVisible ? 'in' : 'void'" >
        </div>
        <button class="btnResponsive"><a href="#contact"><span translate>Get in touch</span></a></button>
    </div>
    <div class="skills">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Skills</h1>
            <div class="line"></div>
        </div>
        <p translate>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <button class="btn"><a href="#contact"><span translate>Get in touch</span></a></button>
    </div>
    
</section>