<section class="d-flex justify-content-between position-relative" id="skills" >
    <div class="d-flex flex-column align-items-center">
        <div class="image-grid" [@fadeInFromBottom]="isVisible ? 'in' : 'void'" >
            <div *ngFor="let skill of skills" class="skill d-flex flex-column align-items-center">
                <img src="assets/icons/{{ skill.img }}" alt="">
                <p>{{ skill.txt }}</p>
            </div>            
        </div>
        <button class="btnResponsive"><a href="#contact"><span translate>Intrigued?</span></a></button>
    </div>
    <div class="skills">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Skills</h1>
            <div class="line"></div>
        </div>
        <p translate>My tech stack has consistently translated into projects with real-world applications, showcasing my ability to deliver meaningful results.</p>
        <button class="btn"><a href="#contact"><span translate>Intrigued?</span></a></button>
    </div>
    <img src="assets/neon_img/green_skills_right.svg" class="position-absolute neongreen-right" alt="">
</section>
