section {
    padding-top: 150px;
    position: relative;
    z-index: 2;
    align-items: center;
}

.image-grid {
    display: grid;
    gap: 83px;
    width: 625px;
    align-items: center;
    justify-content: center;

    grid-template-rows: repeat(4, auto); 
    grid-template-columns: repeat(4, 1fr);
    img {
        width: 88px;
        &:hover {
            animation: bounce 500ms ease;
        }
    }
    img:nth-child(-n+4) {
        grid-row: 1;
    }
    img:nth-child(n+5):nth-child(-n+7) {
        grid-row: 2;
    }
    img:nth-child(n+8):nth-child(-n+9) {
        grid-row: 3;
    }
    img:nth-child(10) {
        grid-row: 4;
    }    
}

.skills {
    width: 572px;
}

.neongreen-right {
    top: -370px;
    right: 0px;
}


.line {
    background-color: #1CE6B6;
    height: 4px;
    position: absolute;
    right: 0;
    width: 15vw;
}

button {
    a{
        text-decoration: none;
        span {
            font-size: 23px;
            font-weight: 400;
            color: #ffffff;
        }
    }
    
    background-color: #00BEE8;
    border-radius: 10px;
    border: 0;
    width: 170px;
    height: 58px;
    transition: transform 0.3s;
    transform-origin: top left;
    &:hover {
        transform: scale(1.2, 1.2);
        background-color: #4B47FF;
    }
}

.btnResponsive {
    visibility: hidden;
}


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}