<section>
    <h1 translate>Privacy Policy</h1>
    <p translate>
      Responsible party in terms of data protection laws, particularly the
       EU General Data Protection Regulation (GDPR), is:
    </p>
    <p>Martin Unger</p>
    <h2 translate>Your Rights as a Data Subject</h2>
    <p translate>
      You can exercise the following rights at any time using the contact details of our data protection officer:
    </p>
    <ul>
      <li translate>
        Access to your data stored with us and its processing (Art. 15 GDPR),
      </li>
      <li translate>
        Correction of inaccurate personal data (Art. 16 GDPR),
      </li>
      <li translate>Deletion of your data stored with us (Art. 17 GDPR),</li>
      <li translate>
        Restriction of data processing if we are not yet allowed to delete your data due to legal obligations (Art. 18 GDPR),
      </li>
      <li translate>
        Objection to the processing of your data by us (Art. 21 GDPR) and
      </li>
      <li translate>
        Data portability if you have consented to data processing or have concluded a contract with us (Art. 20 GDPR).
      </li>
    </ul>
    <p translate>
      If you have given us consent, you can revoke it at any time with effect for the future.
    </p>
    <p translate>
      You can lodge a complaint with a supervisory authority at any time, e.g., the supervisory authority of the federal state of your residence or the authority that oversees us as the responsible body.
    </p>
    <p translate>
      A list of supervisory authorities (for the non-public sector) with addresses can be found at:
      <a
        href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
        target="_blank"
        rel="noopener nofollow"
        translate>Data Protection Supervisory Authorities</a
      >.
    </p>
    <h2 translate>Collection of General Information When Visiting Our Website</h2>
    <h3 translate>Type and Purpose of Processing:</h3>
    <p translate>
      When you access our website, i.e., if you do not register or otherwise submit information, information of a general nature is automatically collected. This information (server log files) includes the type of web browser, the operating system used, the domain name of your Internet service provider, your IP address, and similar.
    </p>
    <p translate>They are processed in particular for the following purposes:</p>
    <ul>
      <li translate>Ensuring a trouble-free connection of the website,</li>
      <li translate>Ensuring smooth use of our website,</li>
      <li translate>Evaluation of system security and stability as well as</li>
      <li translate>to optimize our website.</li>
    </ul>
    <p translate>
      We do not use your data to draw conclusions about you. Information of this type may be statistically evaluated by us anonymously, if necessary, to optimize our website and the underlying technology.
    </p>
    <h3 translate>Legal Basis and Legitimate Interest:</h3>
    <p translate>
      Processing is carried out in accordance with Art. 6 (1) lit. f GDPR on the basis of our legitimate interest in improving the stability and functionality of our website.
    </p>
    <h3 translate>Recipient:</h3>
    <p translate>
      Recipients of the data may be technical service providers who act as processors for the operation and maintenance of our website.
    </p>
    <h3 translate>Storage Duration:</h3>
    <p translate>
      The data will be deleted as soon as they are no longer necessary for the purpose of their collection. This is generally the case for the data that serve to provide the website when the respective session has ended.
    </p>
    <h3 translate>Provision required or necessary:</h3>
    <p translate>
      The provision of the aforementioned personal data is neither legally nor contractually required. However, without the IP address, the service and functionality of our website is not guaranteed. Moreover, individual services and services may not be available or limited. For this reason, an objection is excluded.
    </p>
    <h2 translate>Registration on our website</h2>
    <h3 translate>Type and Purpose of Processing:</h3>
    <p translate>
      For registration on our website, we need some personal data, which are transmitted to us via an input mask.
    </p>
    <p translate>
      At the time of registration, the following additional data are collected:
    </p>
    <p translate>none</p>
    <p translate>
      Your registration is necessary for providing certain contents and services on our website.
    </p>
    <h3 translate>Legal Basis:</h3>
    <p translate>
      The processing of the data entered during registration is based on the user's consent (Art. 6 (1) lit. a GDPR).
    </p>
    <h3 translate>Recipient:</h3>
    <p translate>
      The recipients of the data may be technical service providers who act as data processors for the operation and maintenance of our website.
    </p>
    <h3 translate>Transfer to third countries:</h3>
    <p translate>
      The collected data may be transferred to the following third countries:
    </p>
    <p translate>no</p>
    <p translate>The following data protection guarantees are in place:</p>
    <h3 translate>Storage Duration:</h3>
    <p translate>
      Data in this context will only be processed as long as the corresponding consent is given.
    </p>
    <h3 translate>Provision required or necessary:</h3>
    <p translate>
      The provision of your personal data is voluntary, based solely on your consent. Without providing your personal data, we cannot grant you access to our offered content.
    </p>
    <h2 translate>SSL Encryption</h2>
    <p translate>
      To protect the security of your data during transmission, we use state-of-the-art encryption methods (e.g., SSL) via HTTPS.
    </p>
    <h2 translate>Information about your right to object according to Art. 21 GDPR</h2>
    <h3 translate>Case-specific right to object</h3>
    <p translate>
      You have the right, for reasons arising from your particular situation, to object at any time to the processing of personal data concerning you, which is based on Art. 6 (1) lit. f GDPR (data processing based on a balance of interests); this also applies to profiling based on this provision within the meaning of Art. 4 No. 4 GDPR.
    </p>
    <p translate>
      If you object, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights, and freedoms, or for the establishment, exercise or defense of legal claims.
    </p>
    <h3 translate>Recipient of an objection</h3>
    <p>Martin Unger <br />martin-unger2@live.at</p>
    <h2 translate>Change of our Privacy Policy</h2>
    <p translate>
      We reserve the right to adapt this privacy statement to ensure it always complies with current legal requirements or to implement changes to our services in the privacy policy, e.g., when introducing new services. The new privacy policy will then apply to your next visit.
    </p>
    <h2 translate>Questions to the Data Protection Officer</h2>
    <p translate>
      If you have any questions about data protection, please email us or contact the person responsible for data protection in our organization directly:
    </p>
    <p>
      <em translate
        >The privacy statement was created with the help of activeMind AG, the experts for
        <a
          href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
          target="_blank"
          rel="noopener"
          translate>External Data Protection Officers</a
        >
        (Version #2020-09-30).</em
      >
    </p>
  </section>