<section class="d-flex justify-content-center">
  <div class="content">
    <h1 translate>Imprint</h1>
    <h2 translate>Details according to § 5 TMG:</h2>
    <p><br/>Martin Unger</p>
    <h3 translate>Postal Address:</h3>
    <p>Nestroygasse 3<br/>1020 Wien<br/></p>
    <h3 translate>Contact:</h3>
    <p>Telefon: +43 664 401 89 22<br />E-Mail: martin-unger2@live.at</p>
    <h2 translate>Website Information</h2>
    <h2 translate>Information according to § 36 VSBG</h2>
    <p translate>
      According to § 36 VSBG (Consumer Dispute Resolution Act - Act on Alternative Dispute Resolution 
      in Consumer Matters), the operator of this website declares:
    </p>
    <p translate>
      We are neither willing nor obliged to 
      participate in dispute resolution proceedings before a consumer arbitration board.
    </p>
    <p>
      <em translate>
        The imprint was created with the
        <a href="https://www.activemind.de/datenschutz/impressums-generator/" translate>Imprint generator of the activeMind AG</a>
        .
      </em>
    </p>
  </div>
</section>