<section>
    <h1>Impressum</h1>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p><br/>Martin Unger</p>
    <h3>Postanschrift:</h3>
    <p>Nestroygasse 3<br/>1020 Wien<br/></p>
    <h3>Kontakt:</h3>
    <p>Telefon: +43 664 401 89 22<br />E-Mail: martin-unger2@live.at</p>
    <h2>Hinweise zur Website</h2>
    <h2>Information gemäß § 36 VSBG</h2>
    <p>
      Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die
      alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber
      dieser Website:
    </p>
    <p>
      Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren
      vor einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>
    <p>
      <em>
          Das Impressum wurde mit dem
          <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a>
          erstellt.
      </em>
    </p>
  </section>