/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --bs-body-bg: #141d2f !important;
    --bs-body-color: #ffffff !important;
    --bs-body-font-family: 'Poppins', sans-serif !important;
    --mdc-filled-text-field-input-text-color: #ffffff;
    --mdc-filled-text-field-container-color: #141d2f;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
