/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

:root {
    --bs-body-bg: #141d2f !important;
    --bs-body-color: #ffffff !important;
    --bs-body-font-family: 'Poppins', sans-serif !important;
    --mdc-filled-text-field-input-text-color: #ffffff;
    --mdc-filled-text-field-container-color: #141d2f;
}

html {
    scroll-behavior: smooth;
    overflow-x: clip;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

section {
    padding: 37px 100px 37px 100px;
}

#shadow-host-companion {
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.root {
    position: relative;
}

p {
    font-size: 21px;
    font-weight: 400;
}

.content {
  max-width: 1600px;
  width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #141D2F;
}

::-webkit-scrollbar-thumb {
    background: #00BEE8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4B47FF;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@media (max-width: 1040px) {
    h1 {
        font-size: 90px;
    }
}

@media (max-width: 800px) {
    section {
        padding: 37px;
    }
}

@media (max-width: 740px) {
    h1 {
        font-size: 63px;
    }
}

@media (max-width: 570px) {
    h1 {
        font-size: 36px;
    }
}

@media (max-width: 550px) {
    p {
        font-size: 16px;
    }

}
